.GE{
    background-color:rgba(255, 192, 203, 0.527);
}
.AEC{
    background-color:rgba(19, 240, 48, 0.63);
}
.VAC{
    background-color:rgba(243, 220, 8, 0.562);
}
.SEC{
    background-color:rgb(53, 10, 243);
}
.ds{
    background-color:rgb(185, 115, 113);
}
.os{
    background-color:rgba(173, 172, 91, 0.466);
}
.wd{
    background-color:rgba(90, 147, 155, 0.418);
}